@charset "UTF-8";

body {
  display: block;
  text-align: center;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ","Meirio", sans-serif;
  margin: 0;
  background-color: #7CD6B2;
}

.all{
  display: inline-block;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #fff;
  max-width: 50em;
  width: 92%;
}

.logo{
  width: 95%;
  max-width: 20em;
  margin: 0.5em;
}

#copy {
  display: inline-block;
  padding: 1em 3em 0em;
}

.copy-n {
  display: inline-block;
}

.frame{
  display: inline-block;
  color: #009C9E;
  border: solid 4px #009C9E;
  width: 80%;
  max-width: 30em;
  border-radius: 3.9px;
  padding: 0.7em;
  margin: 0.5em;
}

.ado{
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  margin: 0.7em;
}

.adoc{
  display: block;
  text-decoration: none;
  font-size: 1em;
  font-weight: bold;
  color: #323232;
  margin: 0.7em;
}

.size{
  width: 100%;
  max-width: 15.5em;
}



.w-size{
  width: 90%;
  max-width: 25em;
  margin: 1.5em 1em 1em;
}

.y-size{
  display: inline-block;
  position: relative;
  width: 90%;
  margin: 1em;
}

.y-size:before {
  content:"";
  display: inline-block;
  padding-top: 55.1%; /* 高さと幅の比を16:9に固定。9/16*100=56.25 */
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.cr{
  margin-top: 2em;
}

.btn-flat {
  display: inline-block;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  margin: 0.5em;
  text-decoration: none;
  border-radius: 3px;
  transition: .4s;
  font-size: 1.2em;
  font-weight: bold;
  /*width: 15em;
    padding: 0.8em 1em;*/
}

.btn-flat:hover {
  color: white;
}

.b-Dis {
  color: #5865F2;
  border: solid 4px #5865F2;
}
.b-Dis:hover {
  background: #5865F2;
}

.b-Dyn {
  color: #5DC340;
  border: solid 4px #5DC340;
}
.b-Dyn:hover {
  background: #5DC340;
}

.b-Blue {
  color: #2C84FA;
  border: solid 4px #2C84FA;
}
.b-Blue:hover {
  background: #2C84FA;
}

.b-JMS {
  color: #66C9B2;
  border: solid 4px #66C9B2;
}
.b-JMS:hover {
  background: #66C9B2;
}

.b-twtr {
  color: #00ACEE;
  border: solid 4px #00ACEE;
}
.b-twtr:hover {
  background: #00ACEE;
}

.b-YT {
  color: #DA1725;
  border: solid 4px #DA1725;
}
.b-YT:hover {
  background: #DA1725;
}

.b-git {
  color: #24292f;
  border: solid 4px #24292f;
}
.b-git:hover {
  background: #24292f;
}


/*SmartPhone*/

@media (max-width: 639px) {

}

/*PC*/

@media (min-width: 639px) {

}
