@charset "UTF-8";

body {
  display: block;
  text-align: center;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ",
    "Meirio", sans-serif;
  margin: 0;
  background-color: #7cd6b2;
}

.all {
  display: inline-block;
  padding: 2em 0em;
  background-color: #fff;
  max-width: 50em;
  width: 92%;
}

.logo {
  width: 90%;
  max-width: 22em;
  margin: 0.5em;
  image-rendering: pixelated;
}

#copy {
  display: inline-block;
  padding: 1.5em 1em 0.5em;
}

.copy-n {
  display: inline-block;
}

.osirase {
  display: inline-block;
  padding-top: 1em;
}

.attention {
  display: inline-block;
  padding-top: 1.5em;
  color: #ff3300;
  font-weight: bold;
}

.banner {
  max-width: 560px;
  width: 95%;
  margin-top: 1.5em;
}

.frame {
  display: inline-block;
  color: #009c9e;
  border: solid 4px #009c9e;
  width: 80%;
  max-width: 30em;
  border-radius: 3.9px;
  padding: 0.7em;
  margin: 1.5em 0.5em;
}

.ado {
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  margin: 0.7em;
}

.adoc {
  display: block;
  text-decoration: none;
  font-size: 1em;
  font-weight: bold;
  color: #323232;
  margin: 0.7em;
}

#link {
  display: inline-block;
  width: 95%;
}

.size {
  width: 90%;
  max-width: 16em;
}

.w-size {
  width: 90%;
  max-width: 25em;
  margin: 1.5em 1em 1em;
}

.y-size {
  display: inline-block;
  position: relative;
  width: 90%;
  margin: 1em;
}

.y-size:before {
  content: "";
  display: inline-block;
  padding-top: 55.1%; /* 高さと幅の比を16:9に固定 */
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.cr {
  margin-top: 2em;
}

.btn-flat {
  display: inline-block;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  margin: 0.5em;
  text-decoration: none;
  border-radius: 3px;
  transition: 0.39s;
  font-size: 1.2em;
  font-weight: bold;
  /*width: 15em;
    padding: 0.8em 1em;*/
}

.btn-flat:hover {
  color: white;
}
.b-Join {
  color: #009c9e;
  border: solid 4px #009c9e;
}

.b-Join:hover {
  background: #009c9e;
}

.b-Dis {
  color: #5865f2;
  border: solid 4px #5865f2;
}
.b-Dis:hover {
  background: #5865f2;
}

.b-dl {
  color: #fe4c31;
  border: solid 4px #fe4c31;
}
.b-dl:hover {
  background: #fe4c31;
}

.b-Dyn {
  color: #5dc340;
  border: solid 4px #5dc340;
}
.b-Dyn:hover {
  background: #5dc340;
}

.b-Blue {
  color: #2c84fa;
  border: solid 4px #2c84fa;
}
.b-Blue:hover {
  background: #2c84fa;
}

.b-JMS {
  color: #66c9b2;
  border: solid 4px #66c9b2;
}
.b-JMS:hover {
  background: #66c9b2;
}

.b-twtr {
  color: #00acee;
  border: solid 4px #00acee;
}
.b-twtr:hover {
  background: #00acee;
}

.b-YT {
  color: #da1725;
  border: solid 4px #da1725;
}
.b-YT:hover {
  background: #da1725;
}

.b-Git {
  color: #24292f;
  border: solid 4px #24292f;
}
.b-Git:hover {
  background: #24292f;
}

/*SmartPhone*/

@media (max-width: 639px) {
}

/*PC*/

@media (min-width: 639px) {
  .b-join {
    display: none;
  }
}
